*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table {
    width: 100%;
    text-align: center;
    font-size: 25px;
}
table a{
    text-decoration: none;
    color: rgb(14, 111, 238);
}
table td{
    width: 150px;
}
table .ID{
    width: 40px;
}
table a:hover{
    color: azure;
}
img{
    width: 200px;
}
.background{
    background-color: aqua;
}
.backgrounds{
    background-color: bisque;
}
.background:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.backgrounds:hover{
    background-color: blue;
    cursor: pointer;
}

