*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#border{
    position: relative;
}
.tableone {
    width: 100px;
    height: 90px;
    background-color: aquamarine;
    position: absolute;
}
.tabletwo {
    width: 80px;
    height: 80px;
    background-color: aqua;
    position: absolute;

}
.tablethree {
    position: absolute;
    width: 50px;
    height: 70px;
    background-color: bisque;
}
.tabletwo:hover,
.tablethree:hover,
.tableone:hover{
    z-index: 1;
} 
.tabletwo:focus,
.tablethree:focus,
.tableone:focus{
    z-index: 1;
} 
