*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    display: flex;
    background-color: black;
}

.header-nav ul{
    display: flex;
    height: 44px;
    line-height: 30px;
}
.header-nav ul li{
    list-style-type: none;
    padding: 8px 12px;
    align-items: center;

}
.logo-img {
    display: flex;
    align-items: center;
    
}
.logo-img img{ 
    width: 112px;
    height: 28px;
} 
.ti-search{
    color: aliceblue;
}
.logo a{
    display: flex;
    align-items: center;
    padding: 8px 12px;
}
.header-nav ul li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 16px;
    height: 56px;
    font-family: linkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}
.header-nav ul li:hover{
    background-color: rgb(126, 126, 234);
    cursor: pointer;
    font-weight: 700;
}